<!--  property binding -->
<h2>hello {{name}}</h2>
<h3>my age is {{age}}</h3>
<h2>{{1+1}}</h2>

<!-- event binding -->
<button (click)="changeName()">
  change name
</button>

<!-- html attribute binding -->

<!-- <img src="{{imageUrl}}" style="height: 200px;width: 200px;" /> -->
<img [src]="imageUrl" style="height: 200px;width: 200px;" />

<button (click)="changeImage()">
  change image
</button>


<!-- style binding  1-->

<!-- <div class="myDiv">
<h2>APP STYLED DIV</h2>
</div> -->

<button (click)="activateStyle()">
  active/deactivate style
</button>

<div [class.myDiv]="isStyleActive">
  <h2>APP STYLED DIV</h2>
  </div>

<!-- style binding  2-->

<button (click)="changeStyle()">
  change style dynamically 
</button>

  <div class="{{currentClass}}" >
<h2>dynamimc style change</h2>
  </div>


  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


<image-slider></image-slider>